<section class="container">
  <div class="row">
  <div class="column">
      <span class="footer_links">

      <a href="https://github.com/oliviaguest/neuroplausible/tree/master/{{ page.path }}">view</a>,
      <a href="https://github.com/oliviaguest/neuroplausible/edit/master/{{ page.path }}">edit</a>,
      <a href="https://github.com/oliviaguest/neuroplausible/commits/master/{{ page.path }}">history</a>
      </span>
        <ul class="footer-icons">
          <li><a href="//github.com/oliviaguest" title="Fork me on GitHub!" style="text-decoration:none"><i class="fa fa-github"></i></a></li>
      <li><a href="//twitter.com/o_guest" title="Follow me on Twitter!" style="text-decoration:none"><i class="fa fa-twitter"></i></a></li>
      <li><a href="//facebook.com/neuroplausible" title="Like Neuroplausible on Facebook!" style="text-decoration:none"><i class="fa fa-facebook"></i></a></li>	
      <li><a href="//neuroplausible.com/feed.xml" title="Neuroplausible RSS feed!" style="text-decoration:none"><i class="fa fa-rss"></i></a></li>	
    </ul>
  </div>

  <div class="column">
      <div class="cc-by">
          <a href="/licence">CC BY 4.0</a>
        </div>

    <div class="clearfix">
    </div>
      <a href="/licence"><div class="footer-title">neuroplausible<span class="footer-year">2017</span></div></a>
  </div>
  </div>
</section>
