<ul class="navigation-list float-right">

	<li class="navigation-item">
		<a class="navigation-link" href="{{ site.baseurl }}/about">About</a>
	</li>		
	<!--
	<li class="navigation-item">
		<a class="navigation-link" href="#popover-grid" data-popover>Posts</a>
		<div class="popover" id="popover-grid">
			<ul class="popover-list">
				<li class="popover-item"><a class="popover-link" href="#getting-started" title="Getting Started">Getting Started</a></li>
				<li class="popover-item"><a class="popover-link" href="#typography" title="Typography">Typography</a></li>
				<li class="popover-item"><a class="popover-link" href="#blockquotes" title="Blockquotes">Blockquotes</a></li>
				<li class="popover-item"><a class="popover-link" href="#buttons" title="Buttons">Buttons</a></li>
				<li class="popover-item"><a class="popover-link" href="#lists" title="Lists">Lists</a></li>
				<li class="popover-item"><a class="popover-link" href="#forms" title="Forms">Forms</a></li>
				<li class="popover-item"><a class="popover-link" href="#tables" title="Tables">Tables</a></li>
				<li class="popover-item"><a class="popover-link" href="#grids" title="Grids">Grids</a></li>
				<li class="popover-item"><a class="popover-link" href="#codes" title="Codes">Codes</a></li>
				<li class="popover-item"><a class="popover-link" href="#utilities" title="Utilities">Utilities</a></li>
				<li class="popover-item"><a class="popover-link" href="#tips" title="Tips">Tips</a></li>
				<li class="popover-item"><a class="popover-link" href="#browser-support" title="Browser Support">Browser Support</a></li>
				<li class="popover-item"><a class="popover-link" href="#examples" title="Examples">Examples</a></li>
				<li class="popover-item"><a class="popover-link" href="#contributing" title="Contributing">Contributing</a></li>
			</ul>
		</div>
	</li>
	<li class="navigation-item">
		<a class="navigation-link" href="#popover-support" data-popover>About</a>
		<div class="popover" id="popover-support">
			<ul class="popover-list">
				<li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/milligram/milligram" title="On Github">On Github</a></li>
				<li class="popover-item"><a class="popover-link" target="blank" href="https://codepen.io/milligram" title="On Codepen">On Codepen</a></li>
				<li class="popover-item"><a class="popover-link" target="blank" href="https://facebook.com/milligramcss" title="On Facebook">On Facebook</a></li>
				<li class="popover-item"><a class="popover-link" target="blank" href="https://twitter.com/milligramcss" title="On Twitter">On Twitter</a></li>
				<li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/milligram/milligram/issues/new" title="Need help?">Need help?</a></li>
				<li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/milligram/milligram#license" title="License">License</a></li>
				<li class="popover-item"><a class="popover-link" target="blank" href="https://github.com/milligram/milligram/releases" title="Versions">Versions</a></li>
			</ul>
		</div>
	</li>-->
</ul>
