---
layout: base
---
<section class="container">
  <article class="post">
    <a href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
            <div class ="date">
              <a href="{{ site.baseurl }}/about"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
              <a href="{{ site.baseurl }}/about">{{ page.author}}</a>

              <a href="{{ site.baseurl }}{{ page.url }}"><i class="fa fa-calendar" aria-hidden="true"></i></a>
              <a href="{{ site.baseurl }}{{ page.url }}">{{ page.date | date: "%B %e, %Y" }}</a>

              <a href="{{ site.baseurl }}{{ page.url }}#comments"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
              <a href="{{ site.baseurl }}{{ page.url }}#comments" data-disqus-url="{{ site.url }}{{ page.url }}"></a>
            </div>
                {% include social.html %}
                {% include tldr.html tldr = page.tldr %}

    <div class="entry">
      {{ content }}
    </div>


    {% include social.html %}
    {% include disqus.html %}
  </article>
</section>
